.tab-close-button.close-icon { 
display: none; 
}



/* remove plus button */
#tabs-newtab-button {
	display:none !important;
}

#back-button, #forward-button {
   visibility: hidden !important
}

#urlbar-reload-button, #urlbar-stop-button, #urlbar-go-button, #stop-reload-button,
#urlbar #reload-button, #urlbar #stop-button {
   visibility: hidden !important
}


#firefox-view-button{
	display: none !important;
}
#navigator-toolbox[tabs-hidden] .titlebar-buttonbox-container { display: none; }


#alltabs-button { display: none !important; }

/* remove close button */
.titlebar-buttonbox-container{ 
display:none 
}
#tabbrowser-tabs[orient="vertical"] {
.tab-close-button, #tabs-newtab-button  {
  display: none !important;
  }
}
